<div class="card-body">
  <h5 class="card-title"> <%= email.object %></h5>
  <p class="card-text"> <%= email.body %></p>
  <%= link_to "Supprimer", email_path(email.id),method: 'delete' , remote: true,  class: "btn btn-danger" %>
  <% if (email.read) %>
  <%= link_to "Marquer comme lu", email_path(email.id, read: false),method: 'put', remote: true, class: "btn btn-info" %>
    <% else %>
    <%= link_to "Marquer comme non-lu", email_path(email.id, read: true),method: 'put', remote: true, class: "btn btn-info" %>
<% end %>
</div>